body{
	background: url(../imagenes/logoQatar.jpg)no-repeat center fixed;
	background-size: cover;
}
#contenido{
	width:960px;
	margin:0 auto;
	text-align:center;
}
header hgroup h1
{
	border-bottom:2px solid white;
	padding-bottom:15px;
	border-width:1px;
	text-shadow:0px 0px 15px white;
	color: white;
}
nav ul li{
	display:inline-block;
	margin-right:20px;
	cursor:pointer;
	padding:5px;
}
nav ul li:hover
{
	background-color:black;
	border-radius:5px;	
}
nav ul li a
{
	text-decoration:none;
}
a{
	color: white;
}
.imagen{
	width: 450px;
	height: 250px;	
}
.txt{
	background-color: black;
	color: white;
	width: 250px;
	text-align: center;
	margin: 0 auto;
}
#caja{
	width: 470px;
	margin:0 auto;
	color: white;
}
label{
	display: block;	
	padding: 10px;
}
label input{
	border-radius: 5px;
	padding: 7px;
}
select{
	padding: 5px;
	border-radius: 5px;
}
#miBtn{
	margin-top: 5px;
	padding: 10px;
	border-radius: 5px;
	border:none;
	margin-left: 15px;
	margin-top: 20px;
	background-color: #3b0014;
	color: white;
	cursor: pointer;
}
#caja2{
	background-color: #6d0624;
	width: 350px;
	height: 220px;
	margin:0 auto;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
}
#caja3{
	height:430px;
	width:350px ;
	background-color: #6d0624;
	margin: 0 auto;
	color: white;
	border-radius: 10px;
	border: 3px solid white;
}
#caja4{
	height: 100px;
	width: 180px;
	background-color: #6d0624;
	color: white;
	margin:0 auto;
	border: 3px solid white;
	border-radius: 10px;
}
#caja5{
	height:230px; 
	width:400px;
	background-color: #6d0624;
	color: white;
	border-radius: 10px;
	margin:0 auto;
	border: 3px solid white;
}
#tabla{
	border: 1px solid white;
	margin: 0 auto;
	padding: 5px;
	margin-top:30px;
	border-collapse: collapse;
	width: 500px;
	text-align: center;
	box-shadow: 15px 10px 10px rgba(0,0,0,5);
}
#tabla thead th{
	background-color: #6d0624;
	color: white;
	padding: 10px;
	border-right: 1px solid white;	
}
#tabla tbody tr {
	background-color: white;
}
#tabla tbody tr td{
	padding: 10px;
}
#tabla tfoot tr td{
	padding: 10px;
	background-color:#6d0624;
	color: white; 
	font-family: Helvetica;
	border-top: 1px solid white;
}
#columna{
	color: white;
	font-family: fantasy;
	background-color: #6d0624;
	border-top:1px solid white ;
}
#columna2{
	border-top: 1px solid black;
}